.container {
	width: 37.5rem;
	margin: 2rem auto;
	padding: 2rem;
	text-align: center;
	font-family: Arial, sans-serif;
	color: #2f2f2f;
	box-shadow: 0px 0px 20px -6px #cfc9c9;
	box-sizing: border-box;
	background-color: #e5e5e5;
	height: 45.75rem;
}

.navigation-button {
	padding: 0.6rem 1.5rem;
	font-size: 1.1rem;
	cursor: pointer;
	border: none;
	background-color: #424446;
	color: #ffffff;
	border-radius: 4px;
	min-width: fit-content;

	&:disabled {
		cursor: not-allowed;
		background-color: #b9b9b9;
	}
}

.secondary-button {
	border: 1px solid #424446;
	background-color: transparent;
	color: #2f2f2f;
}

.flex-row {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.space_between {
	justify-content: space-between;
}

.center {
	align-items: center;
}

.right {
	justify-content: flex-end;
	width: 100%;
}
