<div class="container flex-column space_between">
	<div class="flex-column">
		<h1>Flavia Kosti - Take Home Solution</h1>
		<p>Welcome! This app helps you convert shorthand financial numbers into their full numeric forms.</p>
		<section class="instructions">
			<h2>Instructions</h2>
			<ol>
				<li>Enter financial numbers in shorthand format (e.g. <code>250k</code>, <code>10m</code>,
					<code>.5b</code>)
					on the Input page.
				</li>
				<li>Navigate to the Output page to see the numbers expanded in full and their average.</li>
			</ol>
		</section>
	</div>
	<div class="flex-column center">
		<section class="disclaimer">
			<p><em>Tip:</em> Please enter only valid shorthand financial numbers. Examples: 250k, 10m, .5b.</p>
		</section>
		<button class="navigation-button" routerLink="/input"> Go to Input Page </button>
	</div>
</div>