.instructions {
	text-align: left;
	margin-top: 1rem;
}

.disclaimer {
	margin-top: 3rem;
	font-size: 0.9rem;
	color: #666;
}

li {
	line-height: 1.25rem;
}

h2 {
	font-size: 1.3rem;
}

.navigation-button {
	margin-top: 1rem;
}
